body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;

  background-image: url(../images/body_bg/bg_p1x.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/body_bg/bg_p2x.jpg);
  }

  @media screen and (min-width: 767px) {
    background-image: url(../images/body_bg/bg_t1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/bg_t2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/body_bg/bg_d1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/bg_d2x.jpg);
    }
  }
  //   background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
