body {
  margin: 0;
  padding-top: 52px;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/body_bg/bg_p1x.jpg);

  @include mq(tablet) {
    padding-top: 65px;
  }
  @include mq(desktop) {
    padding-top: 73px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/body_bg/bg_p2x.jpg);
  }

  @media screen and (min-width: 767px) {
    background-image: url(../images/body_bg/bg_t1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/bg_t2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/body_bg/bg_d1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/bg_d2x.jpg);
    }
  }
  //   background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.container {
  @include mq(desktop, max) {
    padding: 0 32px;
  }
  @include mq(tablet, max) {
    padding: 0 20px;
  }
  @include mq(desktop) {
    padding: 0 16px;
  }

  max-width: 480px;
  margin: 0 auto;

  // @include mq(mobile){
  //   text-align: center;
  // };

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
