<section class="about container">
  <p class="about__text">tradition and love</p>
  <h2 class="about__titel">how it’s made?</h2>
  <span class="about__image"></span>
  <!-- <img class="fix-image-please" src="#" alt="fix-image-please"> -->
  <!-- <div>
    <img class="about__image" srcset="
        ./images/about/img_mob@279.png 1x,
        ./images/about/img_mob@558.png 2x
      " src="./images/about/img_mob@279.png" alt="natural products " width="279" />
  </div> -->

  <div class="about__description">
    <p class="about__ice">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about__natural">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <P class="about_cream">This is enough to choose ice cream and coffee for any mood!</P>
  </div>
  <!-- <button type="button" data-modal-open> -->
  <button class="about_button" type="button">
    read more >
    <svg class="" width="8" height="8">
      <use href="#"></use>
    </svg>
  </button>
</section>
<!-- <script src="./js/modal.js"></script> -->