<section class="advantages">
  <div class="advantages-container">
    <h2 hidden>Benefits</h2>
    <ul class="advantages-list">
      <li class="advantages-iten">
        <div class="advetages-svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-cow"></use>
          </svg>
        </div>
        <span class="advantages-title">721</span>
        <p class="advantages-text">
        </p>
      </li>
      <li class="advantages-iten">
        <div class="advetages-svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-weight"></use>
          </svg>
        </div>
        <span class="advantages-title">16kg</span>
        <p class="advantages-text">
        </p>
      </li>
      <li class="advantages-iten">
        <div class="advetages-svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <span class="advantages-title">84</span>
        <p class="advantages-text">
        </p>
      </li>
    </ul>
  </div>
</section>

