<section class="advantages">
  <div class="container">
    <h2 hidden>Benefits</h2>
    <ul class="benefits">
      <li class="benefits_iten">
        <div class="benefits_svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-cow"></use>
          </svg>
        </div>
        <span class="benefits_title">721</span>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits_iten">
        <div class="benefits_svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-weight"></use>
          </svg>
        </div>
        <span class="benefits_title">16kg</span>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits_iten">
        <div class="benefits_svg">
          <svg width="36px" height="36px">
            <use href="./images/icon-project.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <span class="benefits_title">84</span>
        <p class="benefits_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

