<section class="contacts" id="contacts">
    <div class="contacts__container container">
        <h2 class="visually-hidden">Address of the company's offices</h2>
        <ul class="contacts__list">
            <li class="contacts__set">
                <ul class="contacts__card">
                    <li class="contacts__categories">
                        <p class="contacts__place">CAFE</p>
                    </li>
                
                    <li class="contacts__address">
                        <address class="contacts__city">Chicago <br>
                            <a class="contacts__link" href="#">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                        </address>
                    </li>
                
                    <li class="contacts__address">
                        <ul>
                            <li class="contacts__time">
                                <address class="contacts__days">Monday - Friday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">06:00 AM - 10:00 PM</time>
                                </address>
                            <li class="contacts__time">
                                <address class="contacts__days">Saturday - Sunday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">08:00 AM - 16:00 PM</time>
                                </address>
                        </ul>
                    </li>
                
                    <li class="contacts__communication">
                        <address class="contacts__info">
                            <ul>
                                <li class="item"><a class="contacts__link info" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                                <li class="item"><a class="contacts__link info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </li>
                            </ul>
                        </address>
                    </li>
                </ul>
            </li>
            <li class="contacts__set">
                <ul class="contacts__card">
                    <li class="contacts__categories">
                        <p class="contacts__place">FOOD TRUCK</p>
                    </li>
                
                    <li class="contacts__address">
                        <address class="contacts__city">Los Angeles<br>
                            <a class="contacts__link" href="#">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                        </address>
                    </li>
                
                    <li class="contacts__address">
                        <ul>
                            <li class="contacts__time">
                                <address class="contacts__days">Monday - Friday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">06:00 AM - 10:00 PM</time>
                                </address>
                            <li class="contacts__time">
                                <address class="contacts__days">Saturday - Sunday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">08:00 AM - 16:00 PM</time>
                                </address>
                        </ul>
                    </li>
                
                    <li class="contacts__communication">
                        <address class="contacts__info">
                            <ul>
                                <li class="item"><a class="contacts__link info" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                                <li class="item"><a class="contacts__link info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </li>
                            </ul>
                        </address>
                    </li>
                </ul>
            </li>
            <li class="contacts__set">
                <ul class="contacts__card">
                    <li class="contacts__categories">
                        <p class="contacts__place">CAFE</p>
                    </li>
                
                    <li class="contacts__address">
                        <address class="contacts__city">New York<br>
                            <a class="contacts__link" href="#">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                        </address>
                    </li>
                
                    <li class="contacts__address">
                        <ul>
                            <li class="contacts__time">
                                <address class="contacts__days">Monday - Friday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">06:00 AM - 10:00 PM</time>
                                </address>
                            <li class="contacts__time">
                                <address class="contacts__days">Saturday - Sunday<br>
                                    <time class="contacts__hours" datetime="2011-11-18T14:54">08:00 AM - 16:00 PM</time>
                                </address>
                        </ul>
                    <li class="contacts__communication">
                        <address class="contacts__info">
                            <ul>
                                <li class="item"><a class="contacts__link info" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                                <li class="item"><a class="contacts__link info" href="mailto:noreply@envato.com">noreply@envato.com</a>
                                </li>
                            </ul>
                        </address>
                    </li>
                </ul>
            </li>
        </ul>
       
        <ul class="contacts__nav">
            <li class="contacts__nav item">
                <button type="button" class="contacts__btn--yellow" id="locations">
                    <span class="contacts__label">Our Locations</span>
                    <svg class="contacts__icon" width="12" height="12">
                        <use href="./images/icon-project.svg#icon-arrow-btn"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts__nav item">
                <button type="button" class="contacts__btn--transparent" id="franchise">
                    <span class="contacts__label">Franchise</span>
                    <svg class="contacts__icon" width="12" height="12">
                        <use href="./images/icon-project.svg#icon-arrow-btn"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>