<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__heading">
                <p class="footer__title">homemade ice cream made</p>
                <p class="footer__title-accent">with passion</p>
            </div>
            <div class="footer__contacts">
                <ul class="footer-socials">
                    <li class="footer-socials__item">
                        <a href="https://github.com/" class="footer-socials__link" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icon-project.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials__item">
                        <a href="https://telegram.org/" class="footer-socials__link" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icon-project.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials__item">
                        <a href="https://www.facebook.com/" class="footer-socials__link" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icon-project.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <p class="footer__text">Feel free to contact <a href="tel:+61(0)383766284" class="footer__number">+61 (0) 383 766 284</a></p>
            </div>
        </div>
        <span class="footer__line"></span>
        <div class="footer__copyright">
            <span class="footer__copy">© 2022 - IceCream.</span>
            <span class="footer__copy">All Rights Reserved.</span>
        </div>
    </div>
</footer>