<header class="header">
    <div class="header_container container">
        <logo class="header-logo">
      <img class="header_img" src="./images/header/logo-mobi.png" alt="логотип морозиво"></logo>
     <nav class="header_nav">
        <ul class="header_set">
            <li class="header_item"><a class="list" href="#">Home</a></li>
            <li class="header_item"><a class="list" href="#">How it’s made?</a></li>
            <li class="header_item"><a class="list" href="#">Our products</a></li>
            <li class="header_item"><a class="list" href="#">Contact</a></li>
        </ul>
     </nav>
        <button type="button" class="header_button">Buy now<svg width="12" height="12">
            <use href="./images/icon-project.svg#icon-arrow-btn"></use>
        </svg>
        </button>
        
        <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
         <use href="./images/icon-project.svg#menu">
         </use>
        </svg>
      </button>
    </div>
    
    <div  class ="menu-container js-menu-container" id ="mobile-menu">
      <logo class="header-logo">
        <img class="header_img" src="./images/header/logo-mobi.png" alt="логотип морозиво"></logo>
      <button  class ="menu-toggle js-close-menu">
        <svg width="32" height="32">
          <use href="./images/icon-project.svg#close"></use>
        </svg>
      </button>

      <ul class ="mobile-menu">
        <li class="header_item"><a class="list" href="#">Home</a></li>
        <li class="header_item"><a class="list" href="#">How it’s made?</a></li>
        <li class="header_item"><a class="list" href="#">Our products</a></li>
        <li class="header_item"><a class="list" href="#">Contact</a></li>
      </ul>
      <button type="button" class="menu_button">Buy now<svg width="12" height="12"><use href="./images/icon-project.svg#icon-arrow-btn"></use>
      </svg></button>
    </div>

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
    <script defer src="../mobile-menu.js"></script>
    
</header>