<header class="header" id="home">
  <div class="header__container container">
    <img class="header__logo" srcset="./images/header/logo_40.png 40w, ./images/header/logo_48.png 48w, ./images/header/logo_60.png 60w, 
      ./images/header/logo_80.png 80w, ./images/header/logo_96.png 96w, ./images/header/logo_120.png 120w"
      src="./images/header/logo_40.png"
      sizes="(min-width:1200px) 60px, (min-width:768px) 48px, (max-width:767px) 40px, 100vw" alt="логотип морозиво">
    <nav class="header__nav">
      <ul class="header__set">
        <li class="header__item"><a class="list" href="#home">Home</a></li>
        <li class="header__item"><a class="list" href="#about">How it’s made?</a></li>
        <li class="header__item"><a class="list" href="#products">Our products</a></li>
        <li class="header__item"><a class="list" href="#contacts">Contact</a></li>
      </ul>
      <button id="buynow" type="button" class="menu__button">Buy now<svg class="menu__btn__svg" width="12" height="12"><use href="./images/icon-project.svg#icon-arrow-btn"></use>
      </svg></button>
        
    </nav>

    


    <button class="menu__toggle--first js-open-menu" aria-expanded="false" aria-controls="mobile__menu">
      <svg class="menu__svg" width="32" height="32" fill="currentColor" 
        xmlns="http://www.w3.org/2000/svg">
        <use href="./images/icon-project.svg#icon-menu">
        </use>
      </svg>
    </button>

    <button type="button" class="header__button js-open-modal" id="buynow" data-modal="1">Buy now<svg class="button__svg" width="12"
        height="12">
        <use href="./images/icon-project.svg#icon-arrow-btn"></use>
      </svg>
    </button>
  </div>

  <div class="menu__container js-menu-container" id="mobile__menu">
    <img class="header__logo" srcset="./images/header/logo_40.png 40w, ./images/header/logo_48.png 48w, ./images/header/logo_60.png 60w, 
      ./images/header/logo_80.png 80w, ./images/header/logo_96.png 96w, ./images/header/logo_120.png 120w"
      src="./images/header/logo_40.png"
      sizes="(min-width:1200px) 60px, (min-width:768px) 48px, (max-width:767px) 40px, 100vw" alt="логотип морозиво">
    </logo>
    <button class="menu__toggle js-close-menu">
      <svg class="menu__svg" width="32" height="32">
        <use href="./images/icon-project.svg#icon-close-line"></use>
      </svg>
    </button>
    <div class="mobi">
      <ul class="mobile__menu">
        <li class="header__item"><a class="mobi__list" href="#home">Home</a></li>
        <li class="header__item"><a class="mobi__list" href="#about">How it’s made?</a></li>
        <li class="header__item"><a class="mobi__list" href="#products">Our products</a></li>
        <li class="header__item"><a class="mobi__list" href="#contacts">Contact</a></li>
      </ul>
      <button type="button" class="menu__button js-open-modal" data-modal="1">Buy now<svg class="menu__btn__svg" width="12" height="12">
          <use href="./images/icon-project.svg#icon-arrow-btn"></use>
        </svg></button>
    </div>
  </div>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
  <!-- <script defer src="../mobile-menu.js"></script> -->
</header>

