<header class="header">
    <div class="container">
        <logo>
      <img class="header_img" src="#" alt="логотип морозиво"></logo>
     <nav class="header_nav">
        <ul class="header_set">
            <li class="header_item"><a class="list" href="#">Home</a></li>
            <li class="header_item"><a class="list" href="#">How it’s made?</a></li>
            <li class="header_item"><a class="list" href="#">Our products</a></li>
            <li class="header_item"><a class="list" href="#">Contact</a></li>
        </ul>
     </nav>
        <button type="button" class="header_button">Buy now<svg width="12" height="12">
            <use href="#"></use>
        </svg>
        </button>
        
        <button title="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="menu-icon" width="32px" height="32px">
            <use href="#"></use>
        </svg>
      </button > 
    </div>

      <div class="menu-container js-menu-container" id="mobile-menu">
        <button title="button" class="menu-toggle js-close-menu">
          <svg class="menu-icon" width="40px" height="40px">
            <use href="#"></use>
          </svg>
        </button >
    
        <nav class="mobile_menu">
            <ul class="header_set-mobile">
                <li class="header_item"><a class="list" href="#">Home</a></li>
                <li class="header_item"><a class="list" href="#">How it’s made?</a></li>
                <li class="header_item"><a class="list" href="#">Our products</a></li>
                <li class="header_item"><a class="list" href="#">Contact</a></li>
            </ul>
         </nav>
         <button type="button" class="header_button">Buy now<svg width="12" height="12">
            <use href="#"></use>
        </svg>
        </button>
      </div>
      <script defer src="../mobile-menu.js"></script>
    
</header>