<section class="hero">
  <div class="container container_hero">
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__title hero__title--larger">passion</span>
    </h1>
    <ul class="sales-points">
      <li class="sales-points__item">
        <span class="sales-points__number">16</span>cafes
      </li>
      <li class="sales-points__item">
        <span class="sales-points__number">23</span>food trucks
      </li>
    </ul>
    <ul class="hero__buttons">
      <li>
        <a href="#products" class="button-products" id="product">Products</a>
      </li>
      <li>
        <a href="#about" class="button-how" id="how_its_made">How it’s made?</a>
      </li>
    </ul>

    <picture class="plate-image">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/hero-secondary_d@1x.png 1x,
          ./images/hero/hero-secondary_d@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-secondary_t@1x.png 1x,
          ./images/hero/hero-secondary_t@2x.png 2x
        "
      />
      <img
        src="./images/hero/hero-secondary_d@1x.png"
        alt="Тарілка з морозивом"
      />
    </picture>

    <div class="plate-image__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </div>
    <button type="button" class="button-more-info" id="foo">
      <svg width="40" height="16" class="hero__icon-arrow">
        <use href="./images/icon-project.svg#icon-arrow"></use>
      </svg>
    </button>

    <picture class="hero__main-image">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/hero-main_d@1x.png 1x,
          ./images/hero/hero-main_d@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-main_t@1x.png 1x,
          ./images/hero/hero-main_t@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/hero-main_m@1x.png 1x,
          ./images/hero/hero-main_m@2x.png 2x
        "
      />
      <img src="./images/hero/hero-main_d@1x.png" alt="Морозиво ріжок" />
    </picture>
  </div>
</section>
