<!-- modal about product -->
<div class="backdrop is-hidden">
    <div id="about-product_mod" class="modal-product modal" data-modal="2">
        <button class="modal-product__button js-modal-close">
            <svg class="modal-product__icon modal-product__icon--small" width="20" height="20">
                <use href="./images/icon-project.svg#icon-close-line"></use>
            </svg>
            <svg class="modal-product__icon modal-product__icon--big" width="24" height="24">
                <use href="./images/icon-project.svg#icon-close-line"></use>
            </svg>
        </button>

        <h2 class="modal-product__name">Chololate icecream</h2>

        <div class="modal-product__picture"></div>

        <ul class="modal-components">
            <li class="modal-components__item">
                <div class="modal-components__ellipse">
                    <div class="modal-components__circle">
                        <span class="modal-components__number">320</span>
                    </div>
                    <p class="modal-components__text">kcal</p>
                </div>
            </li>
            <li class="modal-components__item">
                <div class="modal-components__ellipse">
                    <div class="modal-components__circle">
                        <span class="modal-components__number">4g</span>
                    </div>
                    <p class="modal-components__text">Prote...</p>
                </div>
            </li>
            <li class="modal-components__item">
                <div class="modal-components__ellipse">
                    <div class="modal-components__circle">
                        <span class="modal-components__number">8,2g</span>
                    </div>
                    <p class="modal-components__text">Fats</p>
                </div>
            </li>
            <li class="modal-components__item">
                <div class="modal-components__ellipse">
                    <div class="modal-components__circle">
                        <span class="modal-components__number">40,4g</span>
                    </div>
                    <p class="modal-components__text">Carbs</p>
                </div>
            </li>
        </ul>

        <h3 class="modal-product__title">Ingredients</h3>

        <ul class="modal-ingridients">
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Milk</span>100ml
            </li>
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Belgian chocolate</span>20g
            </li>
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Cream</span>150 ml
            </li>
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Cocoa powder</span> 30g
            </li>
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Sugar</span>40g
            </li>
            <li class="modal-ingridients__item">
                <span class="modal-ingridients__label">Vanilla sugar</span>10g
            </li>
        </ul>

        <form class="product-form" name="product-form" autocomplete="on">
            <label class="product-form__label">
                <input class="product-form__input" type="text" name="product-form__name" placeholder="Name" />
            </label>

            <label class="product-form__label">
                <input class="product-form__input" type="tel" name="product-form__tel" placeholder="Phone" />
            </label>

            <label class="product-form__label">
                <textarea class="product-form__comment " name="product-form__comment" placeholder="Comment"></textarea>
            </label>

            <button id="product-form__btn" class="product-form__btn" type="submit">Submit</button>
        </form>
    </div>
</div>