<!-- <div class="modal__backdrop"> -->
<div class="modal__franchise  modal" data-modal="5">
    <button class="franchise__btn-close  modal__cross js-modal-close" type="button">
        <svg class="franchise__icon" width="20" height="20">
            <use href="./images/icon-project.svg#icon-close-line"></use>
        </svg>
    </button>

    <div class="franchise__form">
        <div class="franchise__title-item">
            <p class="franchise__title">
                Thank you for your interest in owning an Ice Cream shop
            </p>
            <p class="franchise__paragraf">
                Due to the overwhelming volume of franchise requests we are not
                accepting new franchisee applications at this time. Once the
                application process resumes, we will contact you for further
                information. Please fill out the contact information below and we will
                reach out for additional information. We appreciate your patience.
            </p>
        </div>

        <div class="">
            <form name="franchise-form" autocomplete="on" novalidate>
                <div class="franchise-form">
                    <label class="franchise__label">
                        <input class="franchise__input" type="text" name="franchise-username" placeholder="Name" />
                    </label>

                    <label class="franchise__label">
                        <input class="franchise__input" type="tel" name="franchise-tel" placeholder="Phone" />
                    </label>

                    <label class="franchise__label">
                        <input class="franchise__input" type="email" name="franchise-mail" placeholder="Email" />
                    </label>

                    <label class="franchise__label">
                        <textarea class="franchise__input franchise__input--comment" name="comment"
                            placeholder="Comment"></textarea>
                    </label>

                    <button class="franchise__btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>