<!-- Modal -->
<div class="modal__backdrop is-hidden" data-modal id="modal-5">
    <!-- <div class="modal__backdrop"> -->
    <div class="modal__franchise">
      <button class="franchise__btn-close" type="button" data-modal-close>
        <svg class="franchise__icon" width="20" height="20">
          <use href="./images/location/symbol-defs.svg#icon-close-line"></use>
        </svg>
      </button>
  
      <div class="franchise__form">
        <div class="franchise__title-item">
          <p class="franchise__title">
            Thank you for your interest in owning an Ice Cream shop
          </p>
          <p class="franchise__paragraf">
            Due to the overwhelming volume of franchise requests we are not
            accepting new franchisee applications at this time. Once the
            application process resumes, we will contact you for further
            information. Please fill out the contact information below and we will
            reach out for additional information. We appreciate your patience.
          </p>
        </div>
  
        <div class="">
          <form name="franchise-form" autocomplete="on" novalidate>
            <div class="franchise-form">
              <label class="franchise__label">
                <input
                  class="franchise__input"
                  type="text"
                  name="franchise-username"
                  placeholder="Name"
                />
              </label>
  
              <label class="franchise__label">
                <input
                  class="franchise__input"
                  type="tel"
                  name="franchise-tel"
                  placeholder="Phone"
                />
              </label>
  
              <label class="franchise__label">
                <input
                  class="franchise__input"
                  type="email"
                  name="franchise-mail"
                  placeholder="Email"
                />
              </label>
  
              <label class="franchise__label">
                <textarea
                  class="franchise__input franchise__input--comment"
                  name="comment"
                  placeholder="Comment"
                ></textarea>
              </label>
  
              <button class="franchise__btn" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Modal-video-->
 <div class="backdrop is_hidden" data-modal>
  <div class="modal">
      <button class="close_btn" type="button" data-modal-close>
         <svg class="close_btn-icon" width="24" height="24">
          <use href="../images/icon-project.svg#icon-close-line"></use>
         </svg>
      </button>
      <div>
       <strong class="modal_name">How it’s made?</strong>
       <video><iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/uoBjfnm4JJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></video>
       <p class="modal_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </div>
  </div>
</div>


<script src="./js/modal.js"></script>