<div class="modal__map  modal" data-modal="4">
    <button class="map__close  modal__cross js-modal-close" type="button">
        <svg class="map__icon" width="20" height="20">
            <use href="./images/icon-project.svg#icon-close-line"></use>
        </svg>
    </button>

    <p class="map__title">Our Locations</p>

    <iframe class="map__content"
        src="https://www.google.com/maps/d/u/0/embed?mid=1IDw6FH0KBLklcVCPopP_sGemHZIGEHQ&ehbc=2E312F"></iframe>

    <div class="map__link">
        <a class="map__open"
            href="https://www.google.com/maps/d/u/0/edit?mid=1IDw6FH0KBLklcVCPopP_sGemHZIGEHQ&usp=sharing"
            target="_blank">Open map</a>
    </div>
</div>