<div class="overlay js-overlay-modal"></div>
<div class="buynow__modal modal" data-modal="1">
    <button class="buynow__btn--close modal__cross js-modal-close" type="button">
        <svg class="buynow__icon" width="24" height="24">
            <use href="./images/icon-project.svg#icon-close-line"></use>
        </svg>
    </button>
    <p class="buynow__title">Buy now</p>
    <ul class="buynow__list">
        <li class="buynow__type buynow__type--green">
            <div class="buynow__box buynow__box--green"></div>
            <p class="buynow__name">ice cream</p>
        </li>
        <li class="buynow__type buynow__type--yellow">
            <div class="buynow__box buynow__box--yellow"></div>
            <p class="buynow__name">ice coffee</p>
        </li>
        <li class="buynow__type buynow__type--red">
            <div class="buynow__box buynow__box--coral"></div>
            <p class="buynow__name">milkshake</p>
        </li>
    </ul>
    <form name="buynow-form" autocomplete="on">
        <div class="buynow-form">
            <label class="buynow__label">
                <input class="buynow__input" type="text" name="buynow-name" placeholder="Name" />
            </label>

            <label class="buynow__label">
                <input class="buynow__input" type="tel" name="buynow-tel" placeholder="Phone" />
            </label>

            <label class="buynow__label">
                <textarea class="buynow__comment " name="comment" placeholder="Comment"></textarea>
            </label>

            <button class="buynow__btn" type="submit">Submit</button>
        </div>
    </form>
</div>
