<!--Modal-video-->
 <div class="backdrop is_hidden" data-modal>
    <div class="modal">
        <button class="close_btn" type="button" data-modal-close>
           <svg class="close_ btn-icon" width="24" height="24">
            <use href="../images/icon-project.svg#icon-close-line"></use>
           </svg>
        </button>
        <div>
         <strong class="modal_name">How it’s made?</strong>
         <video><iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/uoBjfnm4JJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></video>
         <p class="modal_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>
 </div>
 
 
 <script src="./modal.js"></script>