<div class="read__modal modal" data-modal="3">
    <button class="read__btn--close modal__cross js-modal-close" type="button">
        <svg class="close_btn-icon" width="24" height="24">
            <use href="./images/icon-project.svg#icon-close-line"></use>
        </svg>
    </button>
    <div class="read__form">
        <h3 class="read__title">How it’s made?</h3>
        <iframe src="https://www.youtube.com/embed/uoBjfnm4JJQ" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p class="read__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut
            labore et</p>
    </div>
</div>