<section class="reviews">
  <div class="container">
    <div class="slideshow">
      <div class="slideshow__hider">
        <ul class="slideshow__list">
          <li class="slideshow__item current">
            <img
              src="./images/reviews/pexels-elias-de-carvalho.jpg"
              alt="Emily's photo"
              class="slideshow__photo"
            />
            <p class="slideshow__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="slideshow__name">Emily, Los Angeles</p>
          </li>
          <li class="slideshow__item">
            <img
              src="./images/reviews/pexels-edu-carvalho.jpg"
              alt=""
              class="slideshow__photo"
            />
            <p class="slideshow__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <p class="slideshow__name">Diana, Chicago</p>
          </li>
          <li class="slideshow__item">
            <img
              src="./images/reviews/pexels-nappy.jpg"
              alt=""
              class="slideshow__photo"
            />
            <p class="slideshow__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
            <p class="slideshow__name">Bryan, New-York</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
