.btn {
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.header__button {
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: none;
  width: 152px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
    color: #000000;
    &:disabled {
      background-color: #ababab;
      color: #000000;
      fill: #000000;
    }
  }
}

.button__svg {
  margin-left: 4px;
  fill: #000000;
  transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;

  &:focus {
    fill: #ffffff;
  }
  .header__button:focus > & {
    fill: #ffffff;
  }
}

//mobile-menu-button
.menu__button {
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 152px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
    color: #000000;
  }
  &:disabled {
    background-color: #ababab;
    color: #000000;
    fill: #000000;
  }
}
.menu__btn__svg {
  margin-left: 4px;
  fill: #000000;
  transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;

  &:focus {
    fill: #ffffff;
  }
  .menu__button:focus > & {
    fill: #ffffff;
  }
}

// buynow__btn
.buynow__btn--close {
  position: absolute;
  top: 12px;
  right: 12px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.buynow__btn {
  padding: 12px 34px;

  min-width: 114px;
  height: 42px;

  background-color: $accent-color;
  border-radius: 10px;
  border-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary;

  @include mq(tablet, max) {
    margin-right: 55px;
    margin-left: 55px;
  }

  @include mq(tablet) {
    margin-right: 169px;
    margin-left: 169px;
    min-width: 121px;
    font-size: 14px;
    line-height: 1.41;
  }

  &:hover {
    background-color: $hov-foc;
  }

  &:focus {
    background-color: $hov-foc;
    color: $primary-color;
  }

  &:disabled {
    background-color: $light-secondary-color;
  }
}
// buynow__btn

//read-video__btn

.read__btn--close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.read__btn {
  padding: 12px 34px;

  min-width: 114px;
  height: 42px;

  background-color: $accent-color;
  border-radius: 10px;
  border-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary;

  @include mq(tablet, max) {
    margin-right: 55px;
    margin-left: 55px;
  }

  @include mq(tablet) {
    margin-right: 169px;
    margin-left: 169px;
    min-width: 121px;
    font-size: 14px;
    line-height: 1.41;
  }

  &:hover {
    background-color: $hov-foc;
  }

  &:focus {
    background-color: $hov-foc;
    color: $primary-color;
  }

  &:disabled {
    background-color: $light-secondary-color;
  }
}

// modal about product
.product-form__btn {
  min-width: 132px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent-color;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $secondary;
  border: none;

  @include mq(tablet) {
    min-width: 121px;
  }

  &:hover {
    background: #0A8817;
  }
  &:focus {
    color: #FFFFFF;
    background: #0A8817;
  }
}
// Franchise button

.franchise__btn-close {
  position: absolute;
  top: 12px;
  right: 12px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.franchise-form__btn {
  margin-top: 12px;
  min-width: 114px;

  height: 42px;
  padding: 12px 34px;

  background-color: $accent-color;
  border-color: transparent;
  border-radius: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary;

  @media screen and(min-width: 768px) {
    margin-top: 16px;
    min-width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover {
    background-color: $hov-foc;
  }

  &:focus {
    background-color: $hov-foc;
    color: $primary-color;
  }
}

// map button

.map__btn {
  display: inline-flex;
  width: 134px;
  height: 42px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $secondary;
  background-color: $accent-color;
  border-radius: 10px;

  &:hover {
      background-color: $hov-foc;
    }
  
    &:focus {
      background-color: $hov-foc;
      color: $primary-color;
    }
}