.header_button {
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: none;
  width: 152px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
    color: #000000;
  }
}
.button_svg {
  margin-left: 4px;
  fill: #000000;

  &:focus {
    fill: #ffffff;
  }
  .header_button:focus > & {
    fill: #ffffff;
  }
}

//mobile-menu-button
.menu_button {
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 152px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
    color: #000000;
  }
}
.menu_btn_svg {
  margin-left: 4px;
  fill: #000000;

  &:focus {
    fill: #ffffff;
  }
  .menu_button:focus > & {
    fill: #ffffff;
  }
}

