.header_button {
    background-color: #F8D24E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    width: 152px;
    height: 42px;
    display:flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      display: none;
    }

    &:hover{
      background-color:#0A8817;
    }
    &:focus{
      color:#FFFFFF;
      background-color:#0A8817;
    }

    &:disabled{
      background-color:#ABABAB;
      color:#000000;
    }
  }
  .button_svg{
    margin-left: 4px;
    fill:#000000;

    &:focus{
      fill:#FFFFFF;
    }
    .header_button:focus> &{
      fill:#FFFFFF;
      }
  }
 
//mobile-menu-button
.menu_button{
  background-color: #F8D24E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    width: 152px;
    height: 42px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover{
      background-color:#0A8817;
    }
    &:focus{
      color:#FFFFFF;
      background-color:#0A8817;
    }

    &:disabled{
      background-color:#ABABAB;
      color:#000000;
    }
}
.menu_btn_svg{
  margin-left: 4px;
    fill:#000000;

    &:focus{
      fill:#FFFFFF;
    }
    .menu_button:focus> &{
      fill:#FFFFFF;
      }
}
