.header{
    background-color:#84A178;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}  

.header.no--transparency {
    background-color:#9db394c4;
    backdrop-filter: blur(4px);
    }

.header__container{
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
 
  @media screen and (min-width:768px) {
    padding-top: 20px;
    align-items: flex-end;
  }
  @media screen and (min-width:1200px) {
    padding-top: 8px;
    justify-content: space-between;
  }

}
 

.header__logo{
  padding: 0;
}
.header__nav{
    @media screen and (max-width:1199px){
      display: none;
    }
}
.header__set{
  display:flex;
  gap: 28px;
}

.header__item{
  transition: color 0.25s ease-in-out 0s;

  &:not(:last-child){
    padding-bottom: 32px;
}
  &:last-child{
    padding-bottom: auto;
}
  @media screen and (min-width:768px) {
  &:not(:last-child){
    padding-bottom: 40px;
  }
}

  @media screen and (min-width:1200px) {
    &:not(:last-child){
      padding-bottom: 0px;
  }
    padding-top:32px;
      padding-bottom:13px;
}
}

.list {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #FCFCFC;
  transition: color 0.25s ease-in-out 0s;

  &:hover,
  &:focus{
    color: #131313;
  }
  @media screen and (min-width:1200px) {
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
  }
}
.header__item .list:hover,
.header__item .list:focus{
  color: #F8D24E;
}

//mobile menu
.menu__toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @media (min-width: 768px) {
      margin-right: 12px;
      margin-top: 12px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
  .menu__toggle--first{
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @media (min-width: 768px) {
      margin-right: 32px;
     }
    @media (min-width: 1200px) {
     display: none;
    }
  }
  
  .menu__toggle:hover,
  .menu__toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 12px 20px 0 32px;
    background-color: #85A279;
    z-index: 29;
    overflow-y: scroll;
   
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    @media (min-width: 768px) {
      padding: 20px 32px 0 32px;
    }
  }
  
  .menu__container.is-open {
    transform: translateX(0);
  }
  
  .menu__container .menu__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  .mobi__list{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: #FCFCFC;
    transition: color 0.25s ease-in-out 0s;

    &:hover,
    &:focus{
    color: #131313;
  }
  @media screen and (min-width:768px) {
    font-size: 48px;
    line-height: 1.22;
  }
}
.menu__svg{
  cursor: pointer;
  fill: #FCFCFC;
}
.mobile__menu {
    padding-top: 51px;
    margin: 0;
    list-style: none;
    display:block;
    margin-bottom: 110px;
    

    &.link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

    @media screen and (min-width: 768px) {
      padding-top: 76px;
    }
  }

  .mobi{
    text-align: center;
  }