.modal__backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  opacity: 1;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal__map {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-500px);
    }
  }
}

.modal__map {
  width: 95%;
  max-width: 568px;
  min-height: 449px;
  padding: 28px;

  background-color: #fcfcfc;
  border: 2px solid $accent-color;
  border-radius: 10px;

  opacity: 1;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    max-width: 568px;
    height: auto;
    padding: 32px 60px;
  }
}

.map__close {
  display: inline-flex;
  border: transparent;
  border-radius: 50px;

  position: absolute;
  top: 20px;
  right: 20px;
}

.map__title {
  margin-bottom: 32px;
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: $secondary;
}

iframe {
  display: block;
  border-width: 0;
}

.map__content {
  width: 100%;
  min-height: 260px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.map__link {
  display: flex;
  margin: 0 auto;
}

.map__open {
  display: inline-flex;
  margin: 0 auto;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: $secondary;
  background-color: $accent-color;
  border-radius: 10px;
}