.slideshow__list {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .slideshow__item {

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slideshow__item.current {
        display: flex;
    }

}

.slideshow__photo {
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
}

.slideshow__text {
    display: block;
    max-width: 270px;

    margin-bottom: 32px;
    ;

    padding: 35px 39px;

    background: hsla(102, 18%, 55%, 1);
    color: $primary-color;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(31px / 12px);
    text-align: center;
}


@include mq('tablet', 'min') {
    .slideshow__text {
        max-width: 705px;
    }
}

@include mq('desktop', 'min') {
    .slideshow__text {
        max-width: 980px;
    }
}

.slideshow__name {
    margin: 0;
    max-width: 189px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37px / 20px);
    text-align: center;

    color: $secondary;
}