
    .slideshow__item {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

.slideshow__photo {
    display: block;
    margin-bottom: 32px;
    border-radius: 50%;
}

.slideshow__text {
    display: block;
    max-width: 270px;

    margin-bottom: 32px;
    padding: 32px 39px;

    background: hsla(102, 18%, 55%, 1);
    color: $primary-color;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(31px / 12px);
    text-align: center;
}

.slick-dotted.slick-slider {
    margin-bottom: 400px;
}

@include mq('tablet', 'min') {
    .slideshow__text {
        max-width: 705px;
    }
        .slick-dotted.slick-slider {
            margin-bottom: 350px;
        }

         .slideshow__text {
            border-radius: 24px;
            padding: 29px 80px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: calc(26px / 14px);
            }
}

@include mq('desktop', 'min') {
    .slideshow__text {
        max-width: 968px;
    }
    
    .slick-dotted.slick-slider {
            margin-bottom: 200px;
    }

    .slideshow__text{
        border-radius: 24px;
        padding: 43px 109px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(30px / 16px);
    }
}

.slideshow__name {
    margin: 0;
    max-width: 189px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37px / 20px);
    text-align: center;

    color: $secondary;
}

.slick-dots {
    bottom: 20px;
    text-align: center;
    display: flex; // поставить кнопки в ряд
    justify-content: center; // выровнять по центру
    list-style: none; // убираем черные маркеры
}
.slick-dots li button {
    position: absolute;
    top: -15px;
    left: -15px;

    background: #D9D9D9;// цвет фона
    border: none; // без рамки
    border-radius: 50%; // радиус закругления
    height: 15px; // высота точки
    width: 15px; // ширина точки
    margin: 18px; // отступы между точками
    outline: none; // убираем обводку

    &::before {
            color: transparent;
        }
}

.slick-dots li[class="slick-active"] button {
   background: #84A178;

   &::before{
    color:transparent;
   }
}

.slick-initialized .slick-slide{
    display: flex;
}